body {
	background-color: Grey;
}
.whoami {
 font-size: 34px;
 background-color: white;
 text-align: center;
}

nav {
background-color: #808080;
}


ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
 }
li {
  font-size: 30px;
  border-style: solid;
  list-style-type: none;
 }